<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      View Positions/Orders
    </ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>

   

      
  <ion-img src="https://www.bitmex.com/img/bitmex-logo-v2-alt-white.png"></ion-img>
  <ion-card color="secondary">

    <ion-card-content>


      <ion-list>
        <ion-item color="primary">
          <ion-label>XBTUSD Positions</ion-label>
        </ion-item>
        <ion-item *ngFor="let position of positions">
          <ion-avatar slot="start">
            <img src="../assets/imgs/{{position.symbol}}.png">
            <h6><b>{{position.symbol}}</b></h6>
          </ion-avatar>
          <ion-label>
            <h5><b>Size</b>:{{position.currentQty}}</h5>
            <h5><b>Leverage</b>:{{position.leverage}}X</h5>

            <h5><b>Value:</b> {{(position.lastValue/100000000).toLocaleString()}}</h5>
            <h5><b>Entry Price:</b> {{position.avgEntryPrice.toLocaleString()}}</h5>
            <h5><b>Liq Price:</b> {{position.liquidationPrice.toLocaleString()}}</h5>
            <h5><b>Margin:</b> {{(position.posMargin/100000000).toLocaleString()}}</h5>
            <h5><b>Break Even:</b> {{position.breakEvenPrice.toLocaleString()}}</h5>

            <h5><b>ROE:</b> {{(position.unrealisedPnl/100000000).toLocaleString()}} /
              {{(position.unrealisedRoePcnt*100).toLocaleString()}}% </h5>

          </ion-label>
          <ion-button color="danger">
            <ion-icon name="create" slot="end"></ion-icon>
          </ion-button>

        </ion-item>

      </ion-list>
      <ion-list>
        <ion-item color="medium">
          <ion-label>Pending Orders</ion-label>
        </ion-item>
        <div *ngFor="let orden of activeorders">
          <ion-item-sliding *ngIf="orden.ordStatus=='New'" text-wrap>
            <ion-item>
              <ion-avatar slot="start">
                <ion-icon src="assets/icon/{{orden.ordType}}.svg"></ion-icon>

              </ion-avatar>
              <ion-label>
                <h2>Side:{{orden.side}}</h2>
                <h3 *ngIf="orden.ordType!='MarketIfTouched'" >Type:{{orden.ordType}}</h3>
                <h3 *ngIf="orden.ordType=='MarketIfTouched'" >Type:Take Profit</h3>
           
                <p>Quantity:{{orden.orderQty}}
                </p>

                
              </ion-label>
              <div *ngIf="((orden.ordType=='Stop')||(orden.ordType=='MarketIfTouched'))">
                  <ion-badge slot="end" color="primary" mode="ios">Price:{{orden.stopPx}}</ion-badge>

               </div>
               <div *ngIf="(orden.ordType=='Limit')">
                 
                
                   <ion-badge slot="end" color="primary" mode="ios">Price:{{orden.price}}</ion-badge>

                  </div>
            </ion-item>

            <ion-item-options side="end">
              <ion-item-option>Edit</ion-item-option>
              <ion-item-option color="danger" (click)="DeleteOrder(orden.orderID)">Delete</ion-item-option>
            </ion-item-options>
          </ion-item-sliding>
        </div>
      </ion-list>



    </ion-card-content>
  </ion-card>



</ion-content>