.welcome-card ion-img {
  max-height: 35vh;
  overflow: hidden;
}
ion-content{
  --background: none;
  background-image: url('/assets/bmbg.jpg');
  background-position: center top;
  background-repeat: no-repeat;
}
.bg-image {
  background: url('../../assets/bmbg.jpg') no-repeat center center fixed;
  background-size: cover;
}
.no-scroll .scroll-content {
  overflow: hidden;
}

.my-custom-class{
  --background:#FF4127;
  --border-color:#852114;
  --border-radius:1px;
  --border-style:solid;
  --border-width:4px;
  --button-color:#FFDD00;
  --color:#fff;
}

