<ion-header>
	<ion-toolbar color="primary">
		<ion-title>
			Place Order
		</ion-title>
	</ion-toolbar>
	</ion-header>
	<div color="primary" style="background-color: #07171c">
			<ion-img src="https://www.bitmex.com/img/bitmex-logo-v2-alt-white.png"></ion-img>
	   
		</div>
		<ion-item color="secondary">
				<ion-grid fixed>
					<ion-row>
						<ion-col size="6" text-center>
							XBTUSD
		
						</ion-col>
						<ion-col size="6" text-center>
							ETHUSD
		
						</ion-col>
		
					</ion-row>
					<ion-row>
						<ion-col size="6" text-center>
							<ion-badge color="primary" mode="ios">{{xbtusd.toLocaleString()}}</ion-badge>
						</ion-col>
						<ion-col size="6" text-center>
							<ion-badge color="primary" mode="ios">{{ethusd}}</ion-badge>
						</ion-col>
					</ion-row>
				</ion-grid>
			</ion-item>
<ion-content>
	

	<ion-card color="secondary">
		<ion-card-header color="primary">
			<ion-card-subtitle>Place Order</ion-card-subtitle>
		</ion-card-header>
		<ion-card-content>
			<ion-item>
				<ion-label>Pair</ion-label>
				<ion-select placeholder="Symbol" interface="popover" [(ngModel)]="symbol" (ionChange)="validarsltp()">
					<ion-select-option value="XBTUSD">XBTUSD</ion-select-option>
					<ion-select-option value="ETHUSD">ETHUSD</ion-select-option>
				</ion-select>
			</ion-item>
			<ion-item>
				<ion-label>Type</ion-label>
				<ion-select placeholder="Select Order Type" interface="popover" [(ngModel)]="type">
					<ion-select-option value="Limit">Limit</ion-select-option>
					<ion-select-option value="Market">Market</ion-select-option>
					<ion-select-option value="Stop Market">Stop Market</ion-select-option>
				</ion-select>
			</ion-item>
			<ion-item>
				<ion-label>Leverage</ion-label>
				<ion-input type="number" [(ngModel)]="leverage" pattern="[0-9].*"  class="ion-text-right"></ion-input>
			</ion-item>
			<ion-item>
				<ion-label>Quantity</ion-label>
				<ion-input type="number" class="ion-text-right" pattern="[0-9].*" [(ngModel)]="quantity"></ion-input>
			</ion-item>
			<ion-item *ngIf="(type=='Limit')||(type=='Stop Market')">
				<ion-label>Price</ion-label>
				<ion-input type="number" class="ion-text-right" pattern="[0-9]*.d"  [(ngModel)]="price"></ion-input>
			</ion-item>
			<ion-item >
				<ion-label>Stop Loss</ion-label>

					<ion-checkbox slot="end" [(ngModel)]="bsl" (ionChange)="validarsltp()"></ion-checkbox>
				<ion-input type="number" class="ion-text-right" pattern="[0-9]*" (ionChange)="validarsltp()" [(ngModel)]="sl"></ion-input>
			</ion-item>
			<ion-item>
				<ion-label>Take Profit</ion-label>
				<ion-checkbox slot="end" [(ngModel)]="btp" (ionChange)="validarsltp()"></ion-checkbox>
	
				<ion-input type="number" class="ion-text-right" pattern="[0-9]*" (ionChange)="validarsltp()" [(ngModel)]="tp"></ion-input>
			</ion-item>
			<ion-row>
				<ion-col size="6">
					<ion-button expand="block" (click)="Buy()" color="success" disabled="{{buydisabled}}">
						Buy/Long </ion-button>
				</ion-col>
				<ion-col size="6">
					<ion-button expand="block" (click)="Sell()" color="danger"  disabled="{{selldisabled}}">
						Sell/Short
					</ion-button>
				</ion-col>
			</ion-row>
			<div *ngIf="busy"  text-center >
				<ion-spinner name="dots" color="warning"></ion-spinner>
			</div>

			
		</ion-card-content>
	</ion-card>
</ion-content>