<ion-header>
    <ion-toolbar color="primary">
      <ion-title>
        Colocar Orden
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
      <ion-img src="https://www.bitmex.com/img/bitmex-logo-v2-alt-white.png"></ion-img>
  
      <ion-card color="secondary">
          <ion-card-header color="primary">
            <ion-card-subtitle>Api Keys</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>

            <ion-item>
              <ion-label>ID</ion-label>
              <ion-input type="text" [(ngModel)]="id" ></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>Secret</ion-label>
              <ion-textarea [(ngModel)]="secret" rows="4"></ion-textarea>
            </ion-item>
            <ion-row>
              <ion-col size="12">
                <ion-button expand="block" (click)="Validar()" color="success">
                  Validate</ion-button>
              </ion-col>

            </ion-row>
          </ion-card-content>
          <ion-item *ngIf="busy">
            <ion-spinner name="lines-small"></ion-spinner>
          </ion-item>
          <ion-item *ngIf="message.length>0" >
            {{message}}
          </ion-item>
        </ion-card>
    </ion-content>
