<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      About
    </ion-title>

  </ion-toolbar>
  <div color="primary" style="background-color: #07171c">
      <ion-img src="https://www.bitmex.com/img/bitmex-logo-v2-alt-white.png"></ion-img>
  </div>

 
  

</ion-header>
<ion-content text-justified padding>
  <h3 style="text-align:justify">This is an experimental app, made by traders for traders, its an approach to make more comfortable Bitmex trades, it has some features and will have more features, feel free to write me about what else needs this app, and i will add any feature
  <br>You cant use it without put yours api and secret key, this app save data just in the phone WE DONT KEEP and GET DATA FROM THE USERS.
  <br>If your data is wrong u could get banned for a few hours from Bitmex, so make sure you are writing right all the fields.
  </h3>
    <br> Right now is working only in testnet when all people say its good, it will be available to bitmex.com as real tradings.
  <div text-center>geekmanprogrammer@gmail.com</div> 
</ion-content>
